.pattern1--basics_name {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    margin-top: 0.8cm;
    margin-left: 0.5cm;
}

.pattern1--basics_picture--container {
    width: 70mm;
    height: 80mm;
    margin-top: 0.5cm;
    display: flex;
    justify-content: center;
}

.pattern1--basics_picture {
    object-fit: cover;
}

.pattern1--basics_birthday--container {
    filter: brightness(70%);
}

.pattern1--basics_birthday--header {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 0.8cm;
    margin-left: 0.5cm;
}

.pattern1--basics_birthday {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    // margin-top: 0.8cm;
    margin-left: 0.5cm;
}