// $imageWidth: 39%;
$fontFamily: 'Roboto',
sans-serif;
$leftSideTextColor: white;
.pattern1--leftSide_name {
    color: white;
    font-family: $fontFamily;
    font-weight: bold;
    font-size: 1.7rem;
    margin-top: 8mm;
    margin-left: 5mm;
}

.pattern1--leftSide_picture--container {
    width: 70mm;
    height: 70mm;
    margin-top: 5mm;
    display: flex;
    justify-content: center;
}

.pattern1--leftSide_picture {
    object-fit: cover;
}

.pattern1--leftSide_darker--container {
    filter: brightness(75%);
}

.pattern1--leftSide_text--header {
    color: $leftSideTextColor;
    font-family: $fontFamily;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 5mm;
    margin-bottom: 1mm;
    margin-left: 5mm;
}

.pattern1--leftSide_text--group {
    margin-bottom: 2mm;
}

.pattern1--leftSide_text {
    color: $leftSideTextColor;
    font-family: $fontFamily;
    font-size: 1.1rem;
    margin-left: 5mm;
    margin-bottom: 1mm;
}

.pattern1--leftSide_text-margined {
    color: $leftSideTextColor;
    font-family: $fontFamily;
    font-size: 1.1rem;
    margin-left: 7mm;
    margin-bottom: 1mm;
}