$min-height: 290mm;
.pattern1--container_main {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
}

.pattern1--container_left {
    width: 70mm;
    min-height: $min-height;
}

.pattern1--container_right {
    position: relative;
    width: 140mm;
    min-height: $min-height;
    background-color: white;
}