.pattern1--container_main {
    display: flex;
    flex-direction: row;
}

.pattern1--container_left {
    width: 70mm;
    min-height: 297mm;
}

.pattern1--container_right {
    position: relative;
    width: 140mm;
    min-height: 297mm;
    background-color: white;
}