.A4Size {
    min-width: 21cm;
    min-height: 29.7cm;
    background-color: white;
}

.creatorView--spaceDiv {
    width: 100px;
    height: 2rem;
}

.testest {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    // transform: translate(100px);
    // transition-duration: 2s;
    left: -50px;
    transition-property: transform;
    transition-duration: 5s;
    transform: translate(50px);
}