.A4Size {
    min-width: 21cm;
    min-height: 29.7cm;
    background-color: white;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.creator-view__header {}