.cvPreview-container {
    width: 100%;
    min-height: 100vh;
    background-color: #bac2cf;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scaling {
    transform: scale(0.8) translate(0, -10%);
    @media (max-width: 650px) {
        zoom: 0.6;
    }
}

.cvPreview-header {
    margin-top: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 210mm;
}

.cvPreview-header-element {
    margin: 10px;
}