.main-page__footer-container {
    min-height: 80px;
    border: 1px solid black;
    width: calc(100vw - 2px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
}