//////////// Footer.js Component
.main-page__footer--container {
    min-height: 10vh;
    border: 1px solid black;
    width: calc(100vw - 2px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
}

.main-page__footer__container--left {
    min-width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-page__footer__container--right {
    min-width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-page__footer--elem {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 50%;
    background-size: contain;
}

.footer-portfolio {
    background-image: url(../images/logo.jpg);
}

.footer-github {
    background-image: url(../images/github-logo.png);
}

.footer-linkedin {
    background-image: url(../images/linkedin.png);
}

.footer-mailing {
    background-image: url(../images/mailing.jpg);
    cursor: pointer;
}

//////////// Mailing.js Component
.main-page__footer__mailing {
    position: absolute;
    height: 50vh;
    width: 20vw;
    background-color: white;
    border: 1px solid black;
    right: 15%;
    bottom: 0;
    z-index: 100 !important;
    border-radius: 5px 5px 0 0;
}

.mail-box-hide {
    display: none;
}