//////////// Footer.js Component
.main-page__footer--container {
    min-height: 10vh;
    border: 1px solid black;
    width: calc(100vw - 2px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    background-color: aliceblue;
}

.main-page__footer__container--left {
    min-width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-page__footer__container--right {
    min-width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-page__footer--elem {
    @media (max-width: 959.95px) {
        width: 2rem;
        height: 2rem;
        margin-top: 0.1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 50%;
    background-size: contain;
}

.footer-portfolio {
    background-image: url(../images/logo.jpg);
}

.footer-github {
    background-image: url(../images/github-logo.png);
}

.footer-linkedin {
    background-image: url(../images/linkedin.png);
}

.footer-mailing {
    background-image: url(../images/mailing.jpg);
    cursor: pointer;
}

//////////// Mailing.js Component
.main-page__footer__mailing--container {
    position: absolute;
    height: 50vh;
    width: 29vw;
    background-color: white;
    border: 1px solid black;
    right: 15%;
    bottom: 0;
    z-index: 100 !important;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width: 1000px) {
        width: 65vw;
        position: fixed;
        right: 0;
    }
}

.main-page__footer__mailing--exit-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    min-height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-image: url(../images/exit.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: aliceblue;
    transition: 0.3s;
    &:hover {
        background-color: rgb(177, 27, 0);
    }
}

.mail-box-hide {
    display: none;
}

.main-page__footer__mailing {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100% !important;
}

.main-page__footer__mailing--current-user {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    max-width: 100%;
    @media(max-width: 1000px) {
        font-size: 1rem;
    }
}

.main-page__footer__mailing--textarea {
    width: 88%;
    height: 7rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    resize: none;
}

.main-page__footer__mailing--button {
    width: 90%;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 0.6rem;
    background-color: aliceblue;
    &:hover {
        transition: 0.3s;
        background-color: yellowgreen;
    }
}

.main-page__footer__mailing--for-user {
    margin-left: 1rem;
    margin-right: 1rem;
}