$imageWidth: 39%;
$imageHeight: 70%;
$imageWidthMobile: 80%;
$imageHeightMobile: 30%;
.main-page__content--container {
    height: $imageHeight;
    @media(max-width: 1000px) {
        height: 95%;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
}

.main-page__content--shape {
    width: $imageWidth;
    height: $imageHeight;
    clip-path: polygon(28% 0, 98% 0, 70% 100%, 0% 100%);
    filter: grayscale(0.4) blur(2px);
    transition: 0.3s;
    &:hover {
        filter: grayscale(0) blur(0);
        z-index: 10;
    }
    @media(max-width: 1000px) {
        height: $imageHeightMobile;
        width: $imageWidthMobile;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        margin: 5px;
        filter: grayscale(0) blur(0);
    }
}

.main-page__content--shape-first {
    position: absolute;
    left: 15px;
    @media(max-width: 1000px) {
        height: $imageHeightMobile;
        width: $imageWidthMobile;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.main-page__content--shape-second {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    @media(max-width: 1000px) {
        height: $imageHeightMobile;
        width: $imageWidthMobile;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.main-page__content--shape-third {
    position: absolute;
    right: 20px;
    @media(max-width: 1000px) {
        height: $imageHeightMobile;
        width: $imageWidthMobile;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.main-page__content--image {
    background-size: cover;
    width: 98%;
    height: 98%;
    transition: 0.3s;
    margin: 5px 5px;
    &:hover {
        transform: scale(1.05);
    }
}

.main-page__content--image-github {
    background-image: url(../images/github.jpg);
}

.main-page__content--image-creator {
    background-image: url(../images/cvcreator.jpg);
    background-position: 65% 0;
}

.main-page__content--image-unidentify {
    background-image: url(../images/questionmark.jpg);
    @media(max-width: 1000px) {
        background-position: 0 40%;
    }
}