$fontFamily: 'Montserrat',
sans-serif;
$square: 5mm;
$hederSize: 1rem;
$textSize: 0.8rem;
.pattern2--middleSection_container--left {
    padding-top: 15mm;
    width: 70mm;
    box-shadow: 28px 10px 29px -33px rgba(0, 0, 0, 0.75);
    font-weight: bold;
    font-family: $fontFamily !important;
}

.pattern2--leftSide_section--container {
    padding-top: 5mm;
}

.pattern2--leftSide_elem--header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.8;
}

.pattern2--leftSide_elem--header {
    color: white;
    font-size: $hederSize;
    height: 7mm;
    width: 65mm;
    display: flex;
    align-items: center;
    padding-left: 5mm;
    font-family: $fontFamily !important;
}

.pattern2--leftSide_elem--header_square {
    width: $square;
    height: $square;
    transform: translate(-2.5mm) rotate(45deg);
}

.pattern2--leftSide_links--container {
    color: black;
}

.pattern2--leftSide_text--main {
    padding-left: 5mm;
    margin-top: 1mm;
    display: flex;
    overflow-wrap: break-word;
    flex-direction: column;
    font-size: $textSize;
}

.pattern2--leftSide_links--description {
    margin-top: 1mm;
    margin-left: 7mm;
    font-size: $textSize;
    font-family: $fontFamily !important;
    color: black;
}

.pattern2--leftSide_links--link {
    font-size: $textSize;
    font-weight: normal;
    max-width: 60mm;
    font-family: $fontFamily !important;
}

.pattern2--leftSide_description--container {
    font-family: $fontFamily !important;
    font-size: $textSize;
    padding-left: 5mm;
}