$fontFamily: 'Montserrat',
sans-serif;
$square: 5mm;
.pattern2--middleSection_container--left {
    padding-top: 15mm;
    width: 70mm;
    box-shadow: 28px 10px 29px -33px rgba(0, 0, 0, 0.75);
    font-weight: bold;
}

.pattern2--leftSide_section--container {
    padding-top: 5mm;
}

.pattern2--leftSide_elem--header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.8;
}

.pattern2--leftSide_elem--header {
    color: white;
    font-size: 1.1rem;
    height: 7mm;
    width: 65mm;
    display: flex;
    align-items: center;
    padding-left: 5mm;
    font-size: 1.2rem;
}

.pattern2--leftSide_elem--header_square {
    width: $square;
    height: $square;
    transform: translate(-2.5mm) rotate(45deg);
}

.pattern2--leftSide_links--container {
    color: black;
}

.pattern2--leftSide_links--main {
    padding-left: 5mm;
    margin-top: 2mm;
    display: flex;
    flex-direction: column;
}

.pattern2--leftSide_links--link {
    padding-left: 3mm;
    font-size: 0.9rem;
}

.pattern2--leftSide_skills--main {
    padding-left: 5mm;
    margin-top: 2mm;
    display: flex;
    flex-direction: column;
}

.pattern2--leftSide_description--container {
    font-size: 0.9rem;
    padding-left: 5mm;
}