$min-height: 290mm;
.pattern2--container_main {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 210mm;
    min-height: $min-height;
}

.pattern2--container_left {
    width: 70mm;
    min-height: $min-height;
}

.pattern2--container_right {
    position: relative;
    width: 140mm;
    min-height: $min-height;
    background-color: white;
}