.pattern2--middleSection_container--main {
    // border: 1px solid black;
    max-width: 210mm;
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
    // min-height: 212mm;
    // margin-top: -8mm;
    min-height: 236mm;
    margin-top: -22mm;
}