$fontFamily: 'Montserrat',
sans-serif;
.pattern2--middleSection_container--right {
    padding-top: 15mm;
    width: 140mm;
    font-weight: bold;
}

.pattern2--rightSide_elem--header {
    color: white;
    font-size: 1rem;
    height: 7mm;
    width: 130mm;
    display: flex;
    align-items: center;
    padding-left: 10mm;
    background-color: grey;
}

.pattern2--rightSide_section--container {
    z-index: 3;
}

.pattern2--rightSide_elem--header_square {
    width: $square;
    height: $square;
    transform: translate(-2.5mm) rotate(45deg);
    background-color: grey;
}

.pattern2--rightSide--container {
    display: flex;
    flex-direction: row;
}

.pattern2--rightSide_content {
    margin-top: 2mm;
    margin-left: 0;
    max-width: 100mm;
}

.pattern2--rightSide_date {
    // margin-left: 5mm;
    margin-top: 2mm;
    width: 40mm;
}

.pattern2--rightSide_text {
    font-family: $fontFamily;
    font-size: 0.8rem;
    margin-left: 5mm;
    margin-bottom: 2mm;
}

.pattern2--rightSide_text-descryption {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-weight: normal;
    font-size: 0.8rem;
}

.pattern2--rightSide_consent--container {
    position: absolute;
    bottom: 19mm;
    margin-left: 2mm;
    margin-right: 2mm;
}

.pattern2--rightSide_consent {
    font-size: 0.6rem;
    font-family: $fontFamily;
    filter: opacity(0.5);
}